# root
.claude
.vscode
node_modules
docs/
.git
.gitignore
.worktreeinclude
*.md

# server app
apps/server/.cache
apps/server/.data
apps/server/dist
apps/server/node_modules

# web app 
apps/web/dist
apps/web/node_modules
apps/web/*.tsbuildinfo
